body {background-color : green;}

ul#menuList{
	list-style:none;
	margin:0;}
ul#menuList li{
	display:inline;}
ul#menuList a{
	color:#ffffff;
	background-color:green;
	text-decoration:none;
	font-family:georgia, times, serif;
	font-size:1.126em;
	padding:10px;
	border-bottom:3px solid green;}
ul#menuList a:hover{
	color:#000000;
	background-color:green;
	padding:10px;
	border-bottom:3px solid white;
	border-right: 3px solid #000000;
	border-top: 1px solid #000000;}
img#top{
	height:300px;
	width:715px;
	bo}
img{
	height:320px;
	width:320px;
	border-radius:15px/15px;
	border-bottom:3px solid black;
	border-right:3px solid black;}
a#goBack{
	color:#ffffff;
	background-color:green;
	text-decoration:none;
	font-family:georgia, times, serif;
	font-size:1.126em;
	padding:10px;
	border-bottom:3px solid white;
	border-left:1px solid black;}
a#goBack:hover{
	color:#000000;
	background-color:green;
	padding:10px;
	border-bottom:3px solid #000000;
	border-right: 3px solid #000000;
	border-top: 1px solid #000000;}
	